* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(183, 233, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.users {
  display: flex;
}

.user {
  width: 300px;
  height: 500px;
  background-color: rgb(177, 30, 7);
  margin: 10px;
  color: #eee;
}

.user .text {
  padding: 10px;
  line-height: 1.9rem;
}

.user img {
  height: 300px;
}
.user h1 {
  margin: 20px 0;
  text-align: center;
}

.ImageUploader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.fileInput {
  height: 300px;
  width: 300px;
  background-color: red;
  outline: none;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.pic {
  position: relative;
}

.chosenPic {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}